@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    main {
        width: 450px;
    }

    main > section > a > img {
        width: 50px;
    }

    main > section > iframe {
        width: 400px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    main {
        width: 550px;
    }

    main > section > a > img {
        width: 60px;
    }

    main > section > iframe {
        width: 500px;
    }
    
}

@media screen and (min-width: 1200px) {

    main {
        width: 650px;
    }

    main > section > a > img {
        width: 70px;
    }

    main > section > iframe {
        width: 600px;
    }
    
}